body{
    background:#0a0f1f;
    color:white;
    font-family:Arial;
    text-align:center;
}

input,button{
    padding:10px;
    margin:5px;
    border:none;
    border-radius:5px;
}

button{
    background:#1f6fff;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#4d8dff;
}

nav button{
    margin:10px;
}

.section{
    margin-top:20px;
    padding:20px;
    background:#141a33;
    border-radius:10px;
}
