body{
  margin:0;
  font-family:Segoe UI;
  background:#050b24;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.flag{
  width:120px;
}

#loginBox{
  background:#0c1438;
  padding:40px;
  border-radius:15px;
  text-align:center;
}

input,button,textarea{
  width:100%;
  padding:10px;
  margin:8px 0;
  border-radius:5px;
  border:none;
}

button{
  background:#1f5cff;
  color:white;
}

#portal{
  width:100%;
  height:100%;
  display:flex;
}

aside{
  width:220px;
  background:#0b1330;
  padding:20px;
}

main{
  flex:1;
  padding:30px;
}

section{
  background:#101a40;
  padding:20px;
  border-radius:15px;
}

textarea{
  height:200px;
}
